name: Notificacion CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Ejecutar programa
        run: node index.js

      - name: Enviar notificación a ntfy
        run: |
          curl -H "Title: Este push es de El Yisus" \
               -H "Priority: 5" \
               -d "Se realizó un push al repositorio en la rama main." \
               https://ntfy.sh/devops-itla
